/*Carousel
    Unordered List
      List items
        Images
    Left and Right Navigation */

//Block__Element--Modifier

//Edit Carousel Settings here
$carousel--width : 80%;
$nav__y--padding: 30vw;
$nav__x--padding: 5%;

@mixin padding-margin($number) {
  padding: $number;
  margin: $number;
}

@mixin border-radius {
  border-radius: 10px 10px;
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: $padding;  }
  &:after  { content:''; display: table; clear: both;  }
}

.o-carousel {
  margin: auto;
  overflow: hidden;
  position: relative;
  @include border-radius;
  width: $carousel--width;
  border: 1px solid #666666;
  @include aspect-ratio(3,2);
}

@mixin centered {
  left: 50%;
  z-index: 1;
  position: absolute;
  transform: translateX(-50%);
}

#o-carousel__title {
  top: 5%;
  z-index: 2;
  font-size: 5vw;
  @include centered;
}

#o-carousel__slide-indicator {
  bottom: 0;
  z-index: 1;
  position: absolute;
  padding: 1% 1% 1% 1%;
  border: solid gray 1px;
  font-size: 2vw;
  left: $nav__x--padding + 8%;
}

.o-carousel__dots {
  right: 50%;
  bottom: -2.5%;
  list-style: none;
  position: absolute;
  text-align: center;
  transform: translateX(50%);
}

.o-carousel__dots li{
  width:2vw;
  height:2vw;
  float: left;
  opacity: 0.4;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  border-radius: 100%;
  display: inline-block;
  border: solid black 1px;
  background-color: white;
  transition-duration: 0.3s;
}
.o-carousel__dots li:hover{
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1,1.1);
  // box-shadow: 1px 1px 1px 0px gray;
}

.o-carousel__dots .current{
  background-color: black;
}

.o-carousel__slides {
  top: -5.5%; // Vertical align
  width: 100%;
  list-style: none;
  position: absolute;
  @include padding-margin(0);
}

.o-carousel__slides li {
  top:0;
  width: 100%;
}
.o-carousel__img {
  top:0;
  left:0;
  width: 100%;
  @include padding-margin(0);
}

.selected {
}

.o-carousel__img--next {
  @extend .o-carousel__img;
}

.o-carousel__img--previous {
  @extend .o-carousel__img;
}

.o-carousel__nav {
  top: 50%;
  z-index: 1;
  color: black;
  opacity: 0.1;
  font-size: 4vw;
  position: absolute;
  @include border-radius;
  background-color: #333333;
  transition-duration: 0.4s;
  transform: translateY(-50%);
  -webkit-transition-duration: 0.4s; /* Safari */
  padding: $nav__y--padding $nav__x--padding
           $nav__y--padding $nav__x--padding;
}

.o-carousel__nav:hover {
  outline: 0;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.o-carousel__nav--left {
  left: -2;
  @extend .o-carousel__nav;
}

.o-carousel__nav--right {
  right: -2;
  @extend .o-carousel__nav;
}


