@charset "UTF-8";

//Import Variables and Inuit
@import "inuit";

//Continue as normal

$font-stack:    Helvetica, sans-serif;
$primary-color: black;



body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #00CCFF;
}
