@charset "UTF-8";

//Import Variables and Inuit
@import "inuit/inuit";

//Continue as normal

$font-stack:    Helvetica, sans-serif;
$primary-color: black;



body {
  font: 100% $font-stack;
  color: $primary-color;
}


header {
  width: 100%;
  font-size: 2em;
  text-align: center;
  background-color: black;
  border: 2px double ;
  color: white;
}

carousel {

}
